<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          New Comment
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <%= form_with model: Comment.new do |f| %>
          <div class="modal-body">
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: post.id %>

            <div class="mb-3">
              <%= f.label :content, class: 'form-label' %>
              <%= f.text_area :content, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
    </div>
  </div>
</div>