<%= form_with model: @tag do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :color, class: 'form-label' %>
    <%= f.color_field :color, class: 'form-control', required: true %>
  </div>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
