<%= form_with model: @post do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :content, class: 'form-label' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :tag_ids, class: 'form-label' %>
    <%= f.select :tag_ids,
                 tag_options(@post.tag_ids),
                 {},
                 {
                   placeholder: 'Select tags',
                   class: 'form-select',
                   multiple: true,
                   data: { controller: 'select' }
                 }
    %>
  </div>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
