<div class="d-flex align-items-center justify-content-between">
  <h1>Posts</h1>

  <% if user_signed_in? %>
    <%= link_to 'Create Post', new_post_path, class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="mb-3">
  <%= form_with url: posts_path, method: :get, class: 'col-12 row row-cols-lg-auto g-3 align-items-center' do |f| %>
    <div class="col-12">
      <%= f.select :tag_ids,
                   tag_options(@tag_ids),
                   {},
                   {
                     placeholder: 'Filter by',
                     class: 'form-select',
                     multiple: true,
                     data: { controller: 'select' }
                   }
      %>
    </div>

    <div class="col-12">
      <%= f.submit 'Filter', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<% if @posts.present? %>
  <%= render 'posts/posts', posts: @posts, pagy: @pagy %>
<% else %>
  <div class="alert alert-info">
    There are no posts yet.
  </div>
<% end %>